.search-content {
    width: 50%;
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 0 0 0 auto;
}

.search-content__item {
    margin-right: 15px;
}

.area-select {
    border: none;
}

.genre-select {
    border: none;
}

.search-input {
    border: none;
}

.search-content__button-submit {
    background-color: #fff;
    border: none;
    margin-left: 20px;
}

.form__icon--image {
    width: 10px;
    height: 10px;
}

.card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 50px;
}

.card__item {
    width: 23%;
    margin: 10px 1px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #D3D3D3;
}

.card__img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card__content {
    padding: 20px;
}

.card__content__ttl {
    font-size: 20px;
    margin: 5px 0px;
}

.card__content-tag {
    display: flex;
}

.card__content-tag-item {
    font-size: 15px;
}

.card__content-tag-last-item {
    margin-left: 10px;
    font-size: 15px;
}

.card__bottom {
    display: flex;
    justify-content: space-between;
}

.card__detail {
    width: 40%;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    background-color: #1E90FF;
    cursor: pointer;
}

.card__detail__text {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
}

.card__favorite-button {
    width: 20%;
}

.favorite-button {
    background-color: #fff;
    width: 34px;
    height: 34px;
    cursor: pointer;
    border: none;
}

.favorite-button__img {
    width: 100%;
}
